.contact__button{
    padding: 0.7rem 2rem ;
    border-radius: 30px;
    font-family:$raleway;
    font-weight: $bold;
    color: $granitegray;
    background-color: $snow;
    font-size: $medium;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    width: 300px;
    margin-left: 75%;
}