
.tomato__image1{
    width: 75%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.tomato__image2{
    width: 75%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}