h1{
    font-family: $raleway ;
    font-weight: $extra-light;
    font-size:$xxlarge; 
} 

h3{
    font-family: $raleway ;
    font-weight: $regular;
    font-size:$large;
    color: $granitegray;
} 


p {
    font-family: $raleway ;
    font-weight: $regular;
    font-size:$medium;
    color: $granitegray;
} 