
//First color scheme

$white: #FFF;
$snow: #FAFAFA;
$quicksilver: #A0A0A0;

//Second color scheme

$jellybean: #E56353;
$salmon: #E97F72;
$pastelpink: rgb(73, 38, 35);

//Third color scheme

$granitegray: #686963;
$taupegray: #91918D;
$gray: #BABAB8;


/*typography*/

// Fontfamily

$raleway:'Raleway', sans-serif;

// Font Size

$xxlarge: 100px;
$xlarge: 70px;
$large: 50px;
$medium: 18px;

//Font weight

$bold: 700;
$regular: 400;
$extra-light: 200;  
    




