
.header {
    background-color: $snow;
    margin: 0;  
    padding: 0;  
    height: 90px;
    width: 1349px;                 
}       

.header__logo {
    width: 280px;
    margin: 1%;   
    margin-left: 4%;
}

header{
    margin: 0;
}