.hero{
    position: absolute;
    left: 50%;
    top: 10.5vh;
    transform: translateX(-50%);
    font-family: $raleway;
    color: $white;
    margin-top: 10%;
    
}

#hero__jelly {
    background-color: $jellybean;
    height: 75%;
    margin: 0;
}

.main__background {
    background-color: $snow;
    padding-bottom: 5%;   
    width: 1349px;

}

.main__gray {
    font-family: $raleway;
    color: $taupegray;
    text-align: center;
    font-weight: $bold;
    margin-top: 3%;
    margin-bottom: 3%;
}

.gray-main--gray {
    font-family: $raleway;
    color: $taupegray;
    text-align: center;
    font-weight: $bold;
    margin-top: 3%;
    margin-bottom: 3%;
}

.gray-p {

    font-family: $raleway;
    color: $taupegray;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.main-gray--p {

    font-family: $raleway;
    color: $taupegray;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

.gray__background {
    background-color: $taupegray;
    padding-bottom: 5%;
    
}

div {
    width: 1349px;
}

.gray-white--bg {
    background-color: $snow;
    padding-bottom: 5%;   
}

.main {
    width: 1349px;
}

.contact-main__white {
    width: 1349px;
    color: $white;
    font-size: $large;
    font-weight: $bold;
    margin-left: 55%;
}